<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valifest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainLogin.css') }}">

</head>
<body>
    
    <div>
        <section class = 'title'>
            <div class ='title' ></div>
            <h1 >VALIFEST</h1>

    </div>

    <div class="options-container">
        <div <a href class="option"> </a>
            <a href="http://127.0.0.1:5001/agenda">Doorgaan als gast</a>
        </div>
        <div class="option">
            <a href="http://127.0.0.1:5001/user/login">Login als gebruiker</a>
        </div>
        <div class="option">
            <a href="http://127.0.0.1:5001/admin/login">Login als admin</a>
            
        </div>
    </div>
</body>
</html>
