<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valifest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='specificEvent.css') }}">

</head>
<body>
    <div>
        <section class = 'title'>
            <div class ='title' ></div>
            <h1 >VALIFEST</h1>
    <div>
        <section class ="agenda">
            <h1 >Event details</h1>
    </div>



    <div class = 'kalender'> 
        
        <table border="1px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAAM</th>
                    <th>BESCHRIJVING</th>
                    <th>LOCATIE</th>
                    <th>DATUM</th>
                    <th>START TIJD</th>
                    <th>EIND TIJD</th>
                </tr>
            </thead>
            <tbody>
                {% for event_calendar in events%}
                <tr>
                <td> {{event_calendar.id}} </td>
                <td> {{event_calendar.name}} </td>                
                <td>{{event_calendar.description}}</td>
                <td>{{event_calendar.location}}</td>
                <td>{{event_calendar.event_date}}</td>
                <td>{{event_calendar.start_time}}</td>
                <td>{{event_calendar.end_time}}</td>

                </tr>
                {% endfor%}

            </tbody>
        </table>
    </div>

</body>
</html>